# Core ML frameworks
torch==2.6.0
torchvision>0.19.1+cu124
torchaudio
transformers
tokenizers
trl
accelerate
bitsandbytes

# Evaluation & utility
evaluate
datasets
scikit-learn
tqdm
matplotlib
numpy
tensorboardX

# Project-specific packages
peft

# Datasets